.animal {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 20px;
}

.page {
    display: flex;
}

.search {
    padding-left: 50px;
    padding-bottom: 20px;
    width: 250px;
}

.add {
    padding-left: 50px;
}